root = true

[*]
end_of_line = lf
charset = utf-8
trim_trailing_whitespace = true
insert_final_newline = true

indent_style = space
indent_size = 4
ij_visual_guides = 80,120,160
max_line_length = 160
tab_width = 4

[*.{ts,tsx,js,jsx,json,css,scss,yml,yaml}]
indent_size = 2

[*.js]
ij_javascript_force_semicolon_style = true
ij_javascript_use_semicolon_after_statement = false

[*.md]
trim_trailing_whitespace = false

[*.run.xml]
indent_size = 2
ij_xml_space_inside_empty_tag = true
